<div class="page-index">
  <div class="website-name">eLingua</div>
  <h2>Learn Languages in Context</h2>
  <ul class="short-description">
    <li>Study a language one short paragraph at a time</li>
    <li>Memorize the most common words</li>
    <li>Learn how the words are used in a sentence</li>
  </ul>
  <div class="actions">
      {{#link-to 'languages' class="link"}}Languages{{/link-to}}
      {{#link-to 'sign-up' class="button"}}Sign Up{{/link-to}}
  </div>
</div>