<form class="form-large" action="">
  <div class="title">Login</div>
    {{input type='email' value=emailAddress placeholder='Email Address'}}
    {{input type='password' value=password placeholder='Password'}}
  <button type="submit">Login</button>
</form>
