<form class="form-large" action="">
  <div class="title">Sign Up</div>
    {{input type='email' value=emailAddress placeholder='Email Address'}}
    {{input type='password' value=password placeholder='Password'}}
    {{input type='password' value=password placeholder='Repeat Password'}}
  <button type="submit">Sign Up</button>
</form>